# Code::Blocks build folders
bin/
obj/

# Compiled files
*.exe
*.o
*.dll

# Code::Blocks temporary/user files
*.depend
*.layout
*.cbTemp

# Windows system files
Thumbs.db
desktop.ini

# VS Code local settings
.vscode/